<div
  class="w-screen min-h-screen bg-gradient-to-b from-pink-50 to-white flex flex-col gap-y-12 items-center justify-center">
  <div class="text-3xl font-semibold flex mt-32 flex-row items-center gap-x-4">Dev3 <img class="inline h-8"
      src="../assets/chainlink.png" alt="" srcset=""> SDK Demo</div>

  <div class="max-w-5xl w-full grid grid-cols-2 gap-8">
    <div>ETH Feeds Example</div>
    <div></div>
    <ng-container *ngIf="ethFeeds$ as feeds">
      <div *ngFor="let feed of feeds" class="bg-white flex flex-col rounded-lg p-6 shadow-sm text-xs">
        <div class="grid grid-cols-2 gap-4" *ngIf="feed | async as uFeed">
          <div class="font-semibold">Feed name</div>
          <div>{{uFeed.dataFeedName}}</div>
          <div class="font-semibold">Answer</div>
          <div>{{uFeed.answer}}</div>
          <div class="font-semibold">Round</div>
          <div>{{uFeed.roundID}}</div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="max-w-5xl w-full grid grid-cols-2 gap-8">
    <div>AVAX Feeds Example</div>
    <div></div>
    <ng-container *ngIf="avaxFeeds$ as feeds">
      <div *ngFor="let feed of feeds" class="bg-white flex flex-col rounded-lg p-6 shadow-sm text-xs">
        <div class="grid grid-cols-2 gap-4" *ngIf="feed | async as uFeed">
          <div class="font-semibold">Feed name</div>
          <div>{{uFeed.dataFeedName}}</div>
          <div class="font-semibold">Answer</div>
          <div>{{uFeed.answer}}</div>
          <div class="font-semibold">Round</div>
          <div>{{uFeed.roundID}}</div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="max-w-5xl mb-32 w-full grid grid-cols-2 gap-8">
    <div>BSC Feeds Example</div>
    <div></div>
    <ng-container *ngIf="bscFeeds$ as feeds">
      <div *ngFor="let feed of feeds" class="bg-white flex flex-col rounded-lg p-6 shadow-sm text-xs">
        <div class="grid grid-cols-2 gap-4" *ngIf="feed | async as uFeed">
          <div class="font-semibold">Feed name</div>
          <div>{{uFeed.dataFeedName}}</div>
          <div class="font-semibold">Answer</div>
          <div>{{uFeed.answer}}</div>
          <div class="font-semibold">Round</div>
          <div>{{uFeed.roundID}}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>